.header {
    position: absolute;
    left: 10px;
    top: 10px;    
}
.toggle-menu-btn {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 1px solid #333;
    i {
        color: #333;
        display: block;
        $square: 30px; 
        width: $square;
        height: $square;
        line-height: $square;
        text-align: center;
    }
}
