<!-- <div class="main">
	<aside>
		<div class="sidebar-overlay"></div>
		<div class="sidebar-wrapper">
			<div class="sidebar left ">
				<button class="close-sidebar-btn"><i class="material-icons">clear</i></button>
				<ul class="list-sidebar bg-defoult">
					<li class="active"><a [routerLink]="['/app/home']"> <span class="nav-label">home</span> </a></li>
					<li class="active-dash"><a [routerLink]="['/app/home']"> <span class="nav-label">home</span></a> </li>
					<li> <a [routerLink]="['/app/home']" ><span class="nav-label">home</span></a> </li>
					<li> <a [routerLink]="['/app/home']" ><span class="nav-label">home</span></a> </li>
				</ul>
			</div>
		</div>
	</aside>
</div> -->