<div class="container">
  <div class="max-width-500 mx-auto overflow-y">
    <div class="pad-top">
      <i class="material-icons" [routerLink]="'/app/home'">arrow_back</i>
    </div>
    <div class="head">
      <h3>How it Works</h3>
    </div>
    
    <!-- carousel -->

<div class="slider">
  <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
  <input type="radio" name="slider" title="slide2" class="slider__nav"/>
  <input type="radio" name="slider" title="slide3" class="slider__nav"/>
  <input type="radio" name="slider" title="slide4" class="slider__nav" />
  <input type="radio" name="slider" title="slide5" class="slider__nav" />
  <input type="radio" name="slider" title="slide6" class="slider__nav" />
  <input type="radio" name="slider" title="slide7" class="slider__nav"/>
  <div class="slider__inner">
<div class="slider__contents">
  <!-- <i class="slider__image fa fa-codepen"></i> -->
        <img src="../../assets/image/big data.png" class="slider__image" />
      <h2 class="slider__caption">An automated trading engine</h2>
        <p class="slider__txt">Trading successfully on the stock market requires extensive experience.
          In order to provide everybody the opportunity to benefit from the required level of expertise, Star10 has developed a
          mobile app called CSpot.
          CSpot relies on backend tools only available to Hedge Funds and Institutional investors, which include quantitative
          analysis methods and machine learning.
          Such techniques eliminate the psychological human bias, which is the main source of losses which occur while trading
          on the markets, and allow for real-time high probability trading decisions to be made.
         </p>
    </div>
    <div class="slider__contents"><img src="../../assets/image/bankruptcy.png" class="slider__image" />
      <h2 class="slider__caption">Advanced Trading System (Technology behind the trading system)</h2>
      <p class="slider__txt">The CSpot trading engine relies on a neural network that has been thoroughly trained on a specific financial asset, and can therefore identify profitable trading opportunities.
        Due to strict risk-management rules, these opportunities are screened in real-time through a series of filters in order to retain only the ones with the highest success probability.
        cSpot offers individuals access to these professional tools through the sale of Smart Contracts using Distributed Ledger Technology (DLT). 
      </p>
    </div>
    <div class="slider__contents"><img src="../../assets/image/crypto-ransom guarantee.png" class="slider__image" />
      <h2 class="slider__caption"> CSpot’s Mobile App (How the app works)</h2>
      <p class="slider__txt">cSpot app will allow individuals to purchase these contracts with different payment methods like
          Stripe and Paypal. The facial value of each Smart Contract, projected to be around 100 EUR, is invested for a
          personalized time period.
          Once an individual purchases a contract, cSpot will deploy a unique Ethereum Smart Contract and transfer ownership to
        the client’s Ethereum address, sending the account’s private keys to the client.cSpot App will allow individuals to
        customize their contracts, requesting a change on specific parameters like daily goal or distribution percentage.
        </p>
    </div>
    <div class="slider__contents"><img src="../../assets/image/funds.png" class="slider__image" />
      <h2 class="slider__caption">DLT Application with Smart Contracts (security, immutability, legal tender)</h2>
        <p class="slider__txt">he usage of DLT will insure that, at any time, the owner has complete control over the contract,
          up to requesting its liquidation. The contract will be a legal tender between the user and CSpot.
          The Smart Contract will also store the client’s information, as well as trading records of each transaction with
          their investments. DLT technology will allow stored information to be public and immutable, creating full
        transparency to individuals.Public records on the Blockchain will ease permanent audits done to the Company.
        </p>
    </div>
    <div class="slider__contents"><img src="../../assets/image/hand shake.png" class="slider__image" />
      <h2 class="slider__caption"> Customer’s Profits come first (how we profit)
      </h2>
        <p class="slider__txt"> An important characteristic of the trading system is that it will have a high water mark
          property. This means that cSpot will only take commission fees if the contract’s value is greater than its
          all-time-high value. cSpot wants to make sure customers will only pay these fees when their contract value grows.
          cSpot will charge a small overhead to cover the initial payment clearing and a small amount to deploy the Smart
          Contract, but its pricing structure is 100% success fee based, meaning that cSpot will debit its commission ONLY if
          the contract holder made a profit.

      </p>
    </div>
     <div class="slider__contents"><img src="../../assets/image/marketing vision.png" class="slider__image" />
      <h2 class="slider__caption">Try it out! 
      </h2>
        <p class="slider__txt">In order to help potential users evaluate by themselves with cSpot’s trading engine, cSpot offers demo contracts where virtual money will be invested through real trades in real market conditions. Individuals will also have a smart contract running in an Ethereum testnet, so they view the info stored on the Blockchain.

      </p>
    </div>
     <div class="slider__contents"><img src="../../assets/image/protection law.png" class="slider__image" />
      <h2 class="slider__caption"> Disclaimer
      </h2>
        <p class="slider__txt"> This is not for everybody, only invest what you can afford to lose.

      </p>
    </div>
 
  </div>
</div>

 <br>

    
    <div class="form-group disclaimer-text">
      <a href="https://m.cspot.app/disclaimer" class="disclaimer-text-color">Disclaimer</a>
    </div>
  </div>
</div>